html,
body {
    margin: 0;
    padding: 0;
    background: #060316;
    font-family: monospace;
}

:root {
    --tamanio: 10dvh;
}

.container-monedas {
    display: grid;
    text-align: center;
}

input,
span {
    margin: 0;
    padding: 0;
}

input:focus {
    outline: none;
    border-bottom: 3px solid #89062b;
    filter: brightness(150%);
    transition: filter .2s;
}

.inputs,
.monedas {
    margin: 3%;
    padding: 10px;
}

.inputs {
    position: absolute;
    left: 0%;
    /* background-color: #2cf908; */
}

.monedas {
    position: absolute;
    right: 0%;
    /* background-color: #440540; */
}

.input,
.moneda {
    display: block;
    margin: 0px 0px;
    padding: 0;
    border: 0;
    height: var(--tamanio);
    font-size: 3rem;
    font-weight: 900;
    background-color: transparent;
}

.input {
    width: clamp(200px, 60dvw, 800px);
    box-sizing: border-box;
    border-bottom: 3px solid #732796;
    filter: brightness(50%);
    color: #67d4e5;
}

.moneda {
    width: calc(var(--tamanio)*2);
    display: flex;
    justify-content: right;
    align-items: center;
    color: #a12092;
    text-shadow: 0px 0px 5px #881821;
}

.container-atajos {
    position: absolute;
    left: 50%;
    top: calc((var(--tamanio) * 3) + 50px);
    margin-top: 3%;
    transform: translateX(-50%);
    display: flex;
}

#contenedorScroll {
    position: relative;
    width: 90dvw;
    height: calc(var(--tamanio)*2);
    display: flex;
    overflow-x: scroll;
}

#contenedorScroll::-webkit-scrollbar {
    /* width: fit-content; */
    height: 20px;
}

#contenedorScroll::-webkit-scrollbar-track {
    background: #34022e;
    border-radius: 8px;
}

#contenedorScroll::-webkit-scrollbar-thumb {
    background: #744582;
    border-radius: 8px;
}

.atajo {
    padding: calc(var(--tamanio)/3.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    background-color: #094b06;
    color: #91b072;
    box-shadow: 0px 0px 15px #0c410d;
    filter: brightness(90%);
    border: none;
    border-radius: 20px;
    user-select: none;
    display: flex;
    margin: 10px 10px;
    transition: filter .3s;
}

.atajo:active {
    filter: brightness(150%);
}

@media (min-width: 1210px) {
    #contenedorScroll {
        overflow: hidden;
    }
}